@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  /* margin: 0;
    padding: 0; */
  font-family: "Roboto", sans-serif;
}

body {
  /* background: linear-gradient(rgb(255, 255, 255), 50%, rgb(248, 194, 240)); */
  /* background-image: url("./pexels-anete-lusina-6331082.jpg"); */
  background-image: url("../../../public/assets/pexels-henry-&-co-1939485.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.container {
  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;

  &--logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    gap: 20px;

    &__text {
      width: 270px;
    }

    &__img {
      width: 160px;
    }
  }

  &--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;

    p {
      padding: 0px 20px 0px 20px;
      font-size: 13px;
    }

    button {
      border-radius: 30px;
      border: 1px solid rgb(0, 0, 0);
      background: none;
      width: 300px;
      height: 40px;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 500;
    }

    button:hover {
      background: black;
      color: white;
      border: none;
    }
  }
}
